.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 13px;
    -fx-background-color: #f9f9f9;
}

.button {
    -fx-background-color: #afa24c;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #afa24c;
}

.text-field, .password-field {
    -fx-background-radius: 4;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 4px;
}
